<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	<h3>I am just a Home Page</h3>
	<p>to test all  routes links</p>
	
	<hr>
	<div>
		<h4>console 管理端</h4>
		<ul>
			<li><a href="/console">主页</a></li>
			<li><a href="/console/complain">投诉</a></li>
			<li><a href="/console/message">留言</a></li>
			<li><a href="/console/login">登录</a></li>
			<li><a href="/console/inform">签证进度管理</a></li>
			<li><a href="/console/visaSet">签证设置</a></li>
			<li><a href="/console/userSet">用户设置</a></li>
			<li><a href="/console/secure">安全中心</a></li>
		</ul>
	</div>
	<br>
	<hr>
	<div>
		<h4>client 客户端(移动端查询)</h4>
		<ul>
			<li><a href="/client/complain">投诉</a></li>
			<li><a href="/client/leaveMsg">留言</a></li>
			<li><a href="/client/login">登录</a></li>
			<li><a href="/client/register">注册</a></li>
			<li><a href="/client/center">个人中心</a></li>
			<li><a href="/client/search">签证进度查询</a></li>
		</ul>
	</div>
</body>
</html>